TOKEN
ADMINS
CLOUDCUBE_ACCESS_KEY_ID
CLOUDCUBE_SECRET_ACCESS_KEY
CLOUDCUBE_URL
DEFAULT_WARCHAT
DEFAULT_LOGCHAT
DEFAULT_DEBUGCHAT
__pycache__
*.pyc
**/logs
**/imgtest
**/pyTelegramBotAPI
**/AWS_TEMP
*.BAK
